{% extends 'main_app/base.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">Create Post</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">Submit</button>
    </form>
</div>
<!-- Include Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    // Initialize Flatpickr on the datetime-input class
    flatpickr('.datetime-input', {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
</script>
{% endblock %}